In [1]:
# suppress warnings
%pip install stata_setup --quiet
import stata_setup
import sys
sys.path.append(r'C:/Program Files/Stata17/utilities')
from pystata import config
config.init('mp')

Note: you may need to restart the kernel to use updated packages.

  ___  ____  ____  ____  ____ ©
 /__    /   ____/   /   ____/      17.0
___/   /   /___/   /   /___/       MP—Parallel Edition

 Statistics and Data Science       Copyright 1985-2021 StataCorp LLC
                                   StataCorp
                                   4905 Lakeway Drive
                                   College Station, Texas 77845 USA
                                   800-STATA-PC        https://www.stata.com
                                   979-696-4600        stata@stata.com

Stata license: Unlimited-user 4-core network, expiring 31 May 2023
Serial number: 501709320052
  Licensed to: IFPRI
               IFPRI

Notes:
      1. Unicode is supported; see help unicode_advice.
      2. More than 2 billion observations are allowed; see help obs_advice.
      3. Maximum number of variables is set to 5,000; see help set_maxvar.

In [2]:
import pandas as pd
import datetime

In [3]:
# read stata data
treatment = pd.read_stata(r'C:\Users\WeilunShi\Dropbox (IFPRI)\CML-Ethiopia - team folder\Operation\Ready for Submission\Ready for Submission\Treatment_Group_Cleaned_V0.dta')
control = pd.read_stata(r'C:\Users\WeilunShi\Dropbox (IFPRI)\CML-Ethiopia - team folder\Operation\Ready for Submission\Ready for Submission\Treatment_Group_Cleaned_V0.dta')

In [4]:
treatment.columns

Index(['start_day', 'end_day', 'Interview_start_time', 'Interview_end_time',
       'interview_time', 'interviewer_id', 'respondent_id', 'phone_no', 'a5',
       'a6', 'b1', 'age', 'sex', 'b3', 'b4', 'Zone', 'W_CODE', 'Woreda',
       'RK_CODE', 'kbele_code', 'RK_NAME', 'b4_1', 'b4_2', 'b4_3', 'b4_4',
       'b5', 'b6', 'b7', 'b8_1', 'b8_2', 'b8_3', 'c1', 'c1_a', 'c1_b', 'c1_c',
       'c1_e', 'c2', 'c2_b', 'd1', 'd2', 'd3_1', 'd3_2', 'd4_2', 'd4_21',
       'd4_22', 'd4_23', 'd4_24', 'd4_25', 'd4_26', 'd4_27', 'd4_28', 'd4_1_2',
       'd4_1_21', 'd4_1_22', 'd4_1_23', 'd4_1_24', 'd5', 'd5_1', 'd5_1_21',
       'd5_1_22', 'd5_1_23', 'd5_1_24', 'd5_1_25', 'd6', 'd7_1', 'd7_2',
       'd7_3', 'd8', 'd9', 'd10', '_index', 'MSISDN', 'flag'],
      dtype='object')

In [5]:
treatment.dtypes

start_day               datetime64[ns]
end_day                 datetime64[ns]
Interview_start_time    datetime64[ns]
Interview_end_time      datetime64[ns]
interview_time          datetime64[ns]
                             ...
d9                             float64
d10                            float64
_index                           int16
MSISDN                          object
flag                           float32
Length: 73, dtype: object

Section: Preliminary results

total response rate is 55.90%+1.44%=57.34%

In [6]:
frequency = pd.Series(treatment['a5']).value_counts()
percentage = (frequency / treatment['a5'].size) * 100

print(percentage)

a5
Yes, the same person in the respondent list    55.906236
No                                             42.653593
Yes, another member of the household/friend     1.440172
Name: count, dtype: float64

In [4]:
# filter out the responses that are "no"
treatment = treatment[treatment['a5'] != 'no']

Do you think the area you live is at risk of damages from heavy rainfall?

In [8]:
analysis = treatment[treatment['b5'] != '']
#filter out blank responses
analysis = analysis[analysis['b5'] != ' ']
#filter out NaN
analysis = analysis[analysis['b5'].notna()]
frequency = pd.Series(analysis['b5']).value_counts()
percentage = (frequency / analysis['b5'].size) * 100
print(percentage)

b5
Yes    50.123762
No     49.876238
Name: count, dtype: float64

Were you affected by the recent heavy rain/flood (Date?) in your area?

In [9]:
analysis = treatment[treatment['b6'] != '']
#filter out blank responses
analysis = analysis[analysis['b6'] != ' ']
#filter out NaN
analysis = analysis[analysis['b6'].notna()]
frequency = pd.Series(analysis['b6']).value_counts()
percentage = (frequency / analysis['b6'].size) * 100
print(percentage)

b6
No     83.787129
Yes    16.212871
Name: count, dtype: float64

Have you or your family suffered losses from flood/landslide/excessive rainfall in the past 3 years?

In [10]:
analysis = treatment[treatment['b7'] != '']
#filter out blank responses
analysis = analysis[analysis['b7'] != ' ']
#filter out NaN
analysis = analysis[analysis['b7'].notna()]
frequency = pd.Series(analysis['b7']).value_counts()
percentage = (frequency / analysis['b7'].size) * 100
print(percentage)

b7
No     84.158416
Yes    15.841584
Name: count, dtype: float64

Were you affected by the recent heavy rain/flood (Date?) in your area?

This question is not valid.

In [23]:
treatment['b8_1'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: b8_1, dtype: float64

In [21]:
frequency = pd.Series(treatment['b8_1']).value_counts()
percentage = (frequency / treatment['b8_1'].size) * 100

print(percentage)

Series([], Name: count, dtype: float64)

Does anyone you know were affected by the (Date?) heavy rain/flood, e.g. relatives, friends etc.?

In [11]:
analysis = treatment[treatment['b8_2'] != '']
#filter out blank responses
analysis = analysis[analysis['b8_2'] != ' ']
#filter out NaN
analysis = analysis[analysis['b8_2'].notna()]
frequency = pd.Series(analysis['b8_2']).value_counts()
percentage = (frequency / analysis['b8_2'].size) * 100
print(percentage)

b8_2
No     83.787129
Yes    16.212871
Name: count, dtype: float64

If yes to D7_1 or D7_2 have you taken any precaution measure after the flood?

In [12]:
analysis = treatment[treatment['b8_3'] != '']
#filter out blank responses
analysis = analysis[analysis['b8_3'] != ' ']
#filter out NaN
analysis = analysis[analysis['b8_3'].notna()]
frequency = pd.Series(analysis['b8_3']).value_counts()
percentage = (frequency / analysis['b8_3'].size) * 100
print(percentage)

b8_3
Yes    63.358779
No     36.641221
Name: count, dtype: float64

Section: Follow-up survey

How many rainfall events did you experience today?

In [13]:
analysis = treatment[treatment['c1'] != '']
#filter out blank responses
analysis = analysis[analysis['c1'] != ' ']
#filter out NaN
analysis = analysis[analysis['c1'].notna()]
frequency = pd.Series(analysis['c1']).value_counts()
percentage = (frequency / analysis['c1'].size) * 100
print(percentage)

c1
0.0    57.366571
1.0    38.063279
2.0     3.899009
3.0     0.639182
4.0     0.031959
Name: count, dtype: float64

When did you start to observe the rain?

When did the rain stop?

C2_b When did you receive the alerts?

This sections should be considered together.

In [14]:
# parse hours and minutes in c2_b 
treatment['c2_b_hours'] = treatment['c2_b'].str.split(':').str[0]
treatment['c2_b_minutes'] = treatment['c2_b'].str.split(':').str[1]

# combine the hours and minute and convert to datetime
treatment['c2_b_datetime'] = pd.to_datetime(treatment['c2_b_hours'] + ':' + treatment['c2_b_minutes'], format='%H:%M')

In [15]:
treatment['c2_b_datetime'].describe()

count                             1307
mean     1900-01-01 12:05:41.178270720
min                1900-01-01 00:00:00
25%                1900-01-01 08:00:00
50%                1900-01-01 13:03:00
75%                1900-01-01 16:00:00
max                1900-01-01 23:59:00
Name: c2_b_datetime, dtype: object

Are you in the kebele that you are living when the rain started?

In [16]:
analysis = treatment[treatment['c1_c'] != '']
#filter out blank responses
analysis = analysis[analysis['c1_c'] != ' ']
#filter out NaN
analysis = analysis[analysis['c1_c'].notna()]
frequency = pd.Series(analysis['c1_c']).value_counts()
percentage = (frequency / analysis['c1_c'].size) * 100
print(percentage)

c1_c
Yes    97.293729
No      2.706271
Name: count, dtype: float64

How heavy is the rain?

In [17]:
analysis = treatment[treatment['c1_e'] != '']
#filter out blank responses
analysis = analysis[analysis['c1_e'] != ' ']
#filter out NaN
analysis = analysis[analysis['c1_e'].notna()]
frequency = pd.Series(analysis['c1_e']).value_counts()
percentage = (frequency / analysis['c1_e'].size) * 100
print(percentage)

c1_e
Light rain         32.673267
Moderate rain      29.966997
Very light rain    23.432343
Heavy rain         12.475248
Very heavy rain     1.452145
Name: count, dtype: float64

Did you receive a rain alert today?

In [22]:
# filter out missing data
analysis = treatment[treatment['c2'] != '']
#filter out blank responses
analysis = analysis[analysis['c2'] != ' ']
#filter out NaN
analysis = analysis[analysis['c2'].notna()]
frequency = pd.Series(analysis['c2']).value_counts()
percentage = (frequency / analysis['c2'].size) * 100
print(percentage)

c2
0.0    61.840844
1.0    38.159156
Name: count, dtype: float64

1=Yes 
0=No

If c2=yes, how many times did you receive it?

In [24]:
# see if c2_a exists in the columns
print('c2_a' in treatment.columns)

False

Do not have this column

Section: Feedback Survet

Accurate rain alert means the heavy rain did occur from 1 hour and 15 mins before to 3 hours after the alert was received to your phone.
Based on your experience, what is the percentage of accurate heavy rain alerts you received in the past week?

In [19]:
analysis = treatment[treatment['d1'] != '']
#filter out blank responses
analysis = analysis[analysis['d1'] != ' ']
#filter out NaN
analysis = analysis[analysis['d1'].notna()]
frequency = pd.Series(analysis['d1']).value_counts()
percentage = (frequency / analysis['d1'].size) * 100
print(percentage)

d1
4.0    35.329341
3.0    25.149701
2.0    18.263473
1.0    15.568862
5.0     5.688623
Name: count, dtype: float64

1. <10%        2. 10-30%
3. 30-50%          4. 50%-80%
5. >80%

Did you share the alert information with others?

In [20]:
analysis = treatment[treatment['d2'] != '']
#filter out blank responses
analysis = analysis[analysis['d2'] != ' ']
#filter out NaN
analysis = analysis[analysis['d2'].notna()]
frequency = pd.Series(analysis['d2']).value_counts()
percentage = (frequency / analysis['d2'].size) * 100
print(percentage)

d2
1.0    59.580838
0.0    40.419162
Name: count, dtype: float64

1=Yes
2=No

If yes, please indicate who you shared with (choose all that apply)?

In [25]:
analysis = treatment[treatment['d3_1'] != '']
#filter out blank responses
analysis = analysis[analysis['d3_1'] != ' ']
#filter out NaN
analysis = analysis[analysis['d3_1'].notna()]
frequency = pd.Series(analysis['d3_1']).value_counts()
percentage = (frequency / analysis['d3_1'].size) * 100
print(percentage)

d3_1
2.0    43.216080
1.0    36.180905
3.0    10.050251
4.0    10.050251
5.0     0.502513
Name: count, dtype: float64

1= Household members
2=Friends
3=Relatives
4=Neighbors
5=Others

If no, please indicate why you did not share with others

In [26]:
analysis = treatment[treatment['d3_2'] != '']
#filter out blank responses
analysis = analysis[analysis['d3_2'] != ' ']
#filter out NaN
analysis = analysis[analysis['d3_2'].notna()]
frequency = pd.Series(analysis['d3_2']).value_counts()
percentage = (frequency / analysis['d3_2'].size) * 100
print(percentage)

d3_2
3.0    59.259259
1.0    22.222222
4.0    13.333333
2.0     5.185185
Name: count, dtype: float64

Did you take any of the preventative actions after received the alerts? (Multiple choice)

In [ ]:
analysis = treatment[treatment['d3_2'] != '']
#filter out blank responses
analysis = analysis[analysis['d3_2'] != ' ']
#filter out NaN
analysis = analysis[analysis['d3_2'].notna()]
frequency = pd.Series(analysis['d3_2']).value_counts()
percentage = (frequency / analysis['d3_2'].size) * 100
print(percentage)

If you didn’t take any actions, what is the reason? (multiple choices)

In [6]:
analysis = treatment[treatment['d4_2'] != '']
#filter out blank responses
analysis = analysis[analysis['d4_2'] != ' ']
#filter out NaN
analysis = analysis[analysis['d4_2'].notna()]
frequency = pd.Series(analysis['d4_2']).value_counts()
percentage = (frequency / analysis['d4_2'].size) * 100
print(percentage)

d4_2
8.0    59.861592
2.0    25.259516
1.0     5.536332
4.0     3.460208
5.0     2.076125
7.0     2.076125
3.0     1.038062
6.0     0.692042
Name: count, dtype: float64

1=Change to travel plan, e.g. avoid traveling or leave dangerous locations, such as riverbanks, under the tree etc.
2=Informed family and friends about the coming rain
3=Turn off the electronics
4=Seek for shelters
5=Keep important/valuable assets (documents, cash, car etc) at safe place.
6=Evacuate to other places
7=others, please specify_________
8=No action is taken

In [7]:
analysis = treatment[treatment['d4_1_2'] != '']
#filter out blank responses
analysis = analysis[analysis['d4_1_2'] != ' ']
#filter out NaN
analysis = analysis[analysis['d4_1_2'].notna()]
frequency = pd.Series(analysis['d4_1_2']).value_counts()
percentage = (frequency / analysis['d4_1_2'].size) * 100
print(percentage)

d4_1_2
1.0    37.305699
2.0    30.569948
3.0    20.207254
4.0    11.917098
Name: count, dtype: float64

1=Don’t think it’s necessary
2=Don’t know what actions to take
3=Don’t trust the alert is accurate
4=Other, please specify_________

Do you find the heavy rain alerts system helpful if you will receive the alert one hour and 15 minutes earlier than the current one?

In [8]:
analysis = treatment[treatment['d5'] != '']
#filter out blank responses
analysis = analysis[analysis['d5'] != ' ']
#filter out NaN
analysis = analysis[analysis['d5'].notna()]
frequency = pd.Series(analysis['d5']).value_counts()
percentage = (frequency / analysis['d5'].size) * 100
print(percentage)

d5
1.0    92.814371
2.0     7.185629
Name: count, dtype: float64

If no, why? (multiple choices)

In [9]:
analysis = treatment[treatment['d5_1'] != '']
#filter out blank responses
analysis = analysis[analysis['d5_1'] != ' ']
#filter out NaN
analysis = analysis[analysis['d5_1'].notna()]
frequency = pd.Series(analysis['d5_1']).value_counts()
percentage = (frequency / analysis['d5_1'].size) * 100
print(percentage)

d5_1
1.0    40.909091
4.0    22.727273
2.0    18.181818
5.0    18.181818
Name: count, dtype: float64

1=Not accurate – did not receive alerts when heavy rains occurred and did not rain when receiving alerts
2=Not accurate – Forecast window too wide
3=Not necessary because heavy rain occurs frequently during rainy season
4=Not necessary because my family is unlikely to be affected by heavy rain

Do you think the area you live is at risk of damages from heavy rainfall?

In [10]:
analysis = treatment[treatment['d6'] != '']
#filter out blank responses
analysis = analysis[analysis['d6'] != ' ']
#filter out NaN
analysis = analysis[analysis['d6'].notna()]
frequency = pd.Series(analysis['d6']).value_counts()
percentage = (frequency / analysis['d6'].size) * 100
print(percentage)

d6
1.0    100.0
Name: count, dtype: float64

In [12]:
analysis.describe()

,start_day,end_day,Interview_start_time,Interview_end_time,interview_time,interviewer_id,age,b4,W_CODE,RK_CODE,...,d5_1_25,d6,d7_1,d7_2,d7_3,d8,d9,d10,_index,flag
count,1,1,1,1,1,1.0,1.0,0.0,1.0,1.0,...,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0
mean,2022-09-09 00:00:00,2022-09-16 00:00:00,1960-01-01 17:53:52,1960-01-01 14:28:51,2022-09-09 00:00:00,16.0,21.0,NaN,30704.0,30704001.0,...,NaN,1.0,1.0,0.0,0.0,0.0,1.0,NaN,4.0,NaN
min,2022-09-09 00:00:00,2022-09-16 00:00:00,1960-01-01 17:53:52,1960-01-01 14:28:51,2022-09-09 00:00:00,16.0,21.0,NaN,30704.0,30704001.0,...,NaN,1.0,1.0,0.0,0.0,0.0,1.0,NaN,4.0,NaN
25%,2022-09-09 00:00:00,2022-09-16 00:00:00,1960-01-01 17:53:52,1960-01-01 14:28:51,2022-09-09 00:00:00,16.0,21.0,NaN,30704.0,30704001.0,...,NaN,1.0,1.0,0.0,0.0,0.0,1.0,NaN,4.0,NaN
50%,2022-09-09 00:00:00,2022-09-16 00:00:00,1960-01-01 17:53:52,1960-01-01 14:28:51,2022-09-09 00:00:00,16.0,21.0,NaN,30704.0,30704001.0,...,NaN,1.0,1.0,0.0,0.0,0.0,1.0,NaN,4.0,NaN
75%,2022-09-09 00:00:00,2022-09-16 00:00:00,1960-01-01 17:53:52,1960-01-01 14:28:51,2022-09-09 00:00:00,16.0,21.0,NaN,30704.0,30704001.0,...,NaN,1.0,1.0,0.0,0.0,0.0,1.0,NaN,4.0,NaN
max,2022-09-09 00:00:00,2022-09-16 00:00:00,1960-01-01 17:53:52,1960-01-01 14:28:51,2022-09-09 00:00:00,16.0,21.0,NaN,30704.0,30704001.0,...,NaN,1.0,1.0,0.0,0.0,0.0,1.0,NaN,4.0,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Only one valid answer

Were you affected by the recent heavy rain/flood (Date?) in your area?

In [13]:
analysis = treatment[treatment['d7_1'] != '']
#filter out blank responses
analysis = analysis[analysis['d7_1'] != ' ']
#filter out NaN
analysis = analysis[analysis['d7_1'].notna()]
frequency = pd.Series(analysis['d7_1']).value_counts()
percentage = (frequency / analysis['d7_1'].size) * 100
print(percentage)

d7_1
1.0    100.0
Name: count, dtype: float64

In [14]:
analysis.describe()

,start_day,end_day,Interview_start_time,Interview_end_time,interview_time,interviewer_id,age,b4,W_CODE,RK_CODE,...,d5_1_25,d6,d7_1,d7_2,d7_3,d8,d9,d10,_index,flag
count,1,1,1,1,1,1.0,1.0,0.0,1.0,1.0,...,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0
mean,2022-09-09 00:00:00,2022-09-16 00:00:00,1960-01-01 17:53:52,1960-01-01 14:28:51,2022-09-09 00:00:00,16.0,21.0,NaN,30704.0,30704001.0,...,NaN,1.0,1.0,0.0,0.0,0.0,1.0,NaN,4.0,NaN
min,2022-09-09 00:00:00,2022-09-16 00:00:00,1960-01-01 17:53:52,1960-01-01 14:28:51,2022-09-09 00:00:00,16.0,21.0,NaN,30704.0,30704001.0,...,NaN,1.0,1.0,0.0,0.0,0.0,1.0,NaN,4.0,NaN
25%,2022-09-09 00:00:00,2022-09-16 00:00:00,1960-01-01 17:53:52,1960-01-01 14:28:51,2022-09-09 00:00:00,16.0,21.0,NaN,30704.0,30704001.0,...,NaN,1.0,1.0,0.0,0.0,0.0,1.0,NaN,4.0,NaN
50%,2022-09-09 00:00:00,2022-09-16 00:00:00,1960-01-01 17:53:52,1960-01-01 14:28:51,2022-09-09 00:00:00,16.0,21.0,NaN,30704.0,30704001.0,...,NaN,1.0,1.0,0.0,0.0,0.0,1.0,NaN,4.0,NaN
75%,2022-09-09 00:00:00,2022-09-16 00:00:00,1960-01-01 17:53:52,1960-01-01 14:28:51,2022-09-09 00:00:00,16.0,21.0,NaN,30704.0,30704001.0,...,NaN,1.0,1.0,0.0,0.0,0.0,1.0,NaN,4.0,NaN
max,2022-09-09 00:00:00,2022-09-16 00:00:00,1960-01-01 17:53:52,1960-01-01 14:28:51,2022-09-09 00:00:00,16.0,21.0,NaN,30704.0,30704001.0,...,NaN,1.0,1.0,0.0,0.0,0.0,1.0,NaN,4.0,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

only one valid answer

Does anyone you know were affected by the (Date?) heavy rain/flood, e.g. relatives, friends etc.?

In [15]:
analysis = treatment[treatment['d7_2'] != '']
#filter out blank responses
analysis = analysis[analysis['d7_2'] != ' ']
#filter out NaN
analysis = analysis[analysis['d7_2'].notna()]
frequency = pd.Series(analysis['d7_2']).value_counts()
percentage = (frequency / analysis['d7_2'].size) * 100
print(percentage)

d7_2
0.0    100.0
Name: count, dtype: float64

only one valid answer

Have you or your family suffered losses from flood/landslide/excessive rainfall in the past 3 years?

In [16]:
analysis = treatment[treatment['d8'] != '']
#filter out blank responses
analysis = analysis[analysis['d8'] != ' ']
#filter out NaN
analysis = analysis[analysis['d8'].notna()]
frequency = pd.Series(analysis['d8']).value_counts()
percentage = (frequency / analysis['d8'].size) * 100
print(percentage)

d8
0.0    100.0
Name: count, dtype: float64

In [17]:
analysis.describe()

,start_day,end_day,Interview_start_time,Interview_end_time,interview_time,interviewer_id,age,b4,W_CODE,RK_CODE,...,d5_1_25,d6,d7_1,d7_2,d7_3,d8,d9,d10,_index,flag
count,1,1,1,1,1,1.0,1.0,0.0,1.0,1.0,...,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0
mean,2022-09-09 00:00:00,2022-09-16 00:00:00,1960-01-01 17:53:52,1960-01-01 14:28:51,2022-09-09 00:00:00,16.0,21.0,NaN,30704.0,30704001.0,...,NaN,1.0,1.0,0.0,0.0,0.0,1.0,NaN,4.0,NaN
min,2022-09-09 00:00:00,2022-09-16 00:00:00,1960-01-01 17:53:52,1960-01-01 14:28:51,2022-09-09 00:00:00,16.0,21.0,NaN,30704.0,30704001.0,...,NaN,1.0,1.0,0.0,0.0,0.0,1.0,NaN,4.0,NaN
25%,2022-09-09 00:00:00,2022-09-16 00:00:00,1960-01-01 17:53:52,1960-01-01 14:28:51,2022-09-09 00:00:00,16.0,21.0,NaN,30704.0,30704001.0,...,NaN,1.0,1.0,0.0,0.0,0.0,1.0,NaN,4.0,NaN
50%,2022-09-09 00:00:00,2022-09-16 00:00:00,1960-01-01 17:53:52,1960-01-01 14:28:51,2022-09-09 00:00:00,16.0,21.0,NaN,30704.0,30704001.0,...,NaN,1.0,1.0,0.0,0.0,0.0,1.0,NaN,4.0,NaN
75%,2022-09-09 00:00:00,2022-09-16 00:00:00,1960-01-01 17:53:52,1960-01-01 14:28:51,2022-09-09 00:00:00,16.0,21.0,NaN,30704.0,30704001.0,...,NaN,1.0,1.0,0.0,0.0,0.0,1.0,NaN,4.0,NaN
max,2022-09-09 00:00:00,2022-09-16 00:00:00,1960-01-01 17:53:52,1960-01-01 14:28:51,2022-09-09 00:00:00,16.0,21.0,NaN,30704.0,30704001.0,...,NaN,1.0,1.0,0.0,0.0,0.0,1.0,NaN,4.0,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Would you be willing to receive such alerts through SMS in the future (only message, no surveys)?

In [18]:
analysis = treatment[treatment['d9'] != '']
#filter out blank responses
analysis = analysis[analysis['d9'] != ' ']
#filter out NaN
analysis = analysis[analysis['d9'].notna()]
frequency = pd.Series(analysis['d9']).value_counts()
percentage = (frequency / analysis['d9'].size) * 100
print(percentage)

d9
1.0    100.0
Name: count, dtype: float64

In [19]:
analysis.describe()

,start_day,end_day,Interview_start_time,Interview_end_time,interview_time,interviewer_id,age,b4,W_CODE,RK_CODE,...,d5_1_25,d6,d7_1,d7_2,d7_3,d8,d9,d10,_index,flag
count,1,1,1,1,1,1.0,1.0,0.0,1.0,1.0,...,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0
mean,2022-09-09 00:00:00,2022-09-16 00:00:00,1960-01-01 17:53:52,1960-01-01 14:28:51,2022-09-09 00:00:00,16.0,21.0,NaN,30704.0,30704001.0,...,NaN,1.0,1.0,0.0,0.0,0.0,1.0,NaN,4.0,NaN
min,2022-09-09 00:00:00,2022-09-16 00:00:00,1960-01-01 17:53:52,1960-01-01 14:28:51,2022-09-09 00:00:00,16.0,21.0,NaN,30704.0,30704001.0,...,NaN,1.0,1.0,0.0,0.0,0.0,1.0,NaN,4.0,NaN
25%,2022-09-09 00:00:00,2022-09-16 00:00:00,1960-01-01 17:53:52,1960-01-01 14:28:51,2022-09-09 00:00:00,16.0,21.0,NaN,30704.0,30704001.0,...,NaN,1.0,1.0,0.0,0.0,0.0,1.0,NaN,4.0,NaN
50%,2022-09-09 00:00:00,2022-09-16 00:00:00,1960-01-01 17:53:52,1960-01-01 14:28:51,2022-09-09 00:00:00,16.0,21.0,NaN,30704.0,30704001.0,...,NaN,1.0,1.0,0.0,0.0,0.0,1.0,NaN,4.0,NaN
75%,2022-09-09 00:00:00,2022-09-16 00:00:00,1960-01-01 17:53:52,1960-01-01 14:28:51,2022-09-09 00:00:00,16.0,21.0,NaN,30704.0,30704001.0,...,NaN,1.0,1.0,0.0,0.0,0.0,1.0,NaN,4.0,NaN
max,2022-09-09 00:00:00,2022-09-16 00:00:00,1960-01-01 17:53:52,1960-01-01 14:28:51,2022-09-09 00:00:00,16.0,21.0,NaN,30704.0,30704001.0,...,NaN,1.0,1.0,0.0,0.0,0.0,1.0,NaN,4.0,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN